@model CCAP_Inventory_Management.Models.Products

@{
    ViewData["Title"] = "Add";
}

<link rel="stylesheet" href="~/css/StyleSheet.css" />

<h1>Add Products</h1>
<hr/>
<body>
    <div class="sidebar">
        <h3>Inventory Management System</h3>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Homepage</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Product Company</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>Inventory Incoming</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>View Inventory</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Master Records</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Suppliers</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Warehouses</a></li>
        </ul>
        <div class="icon_image">
            <img class="icon" src="icon/CCAP-logo-white 4.svg">
        </div>
    </div>
    <div class="wrapper">
        <div class="main_content">
            <div class="header"><h3>Inventory Incoming</h3></div>
            <div class="info">
                <div>
                    <form asp-action="Add">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SupplierName" class="control-label"></label>
                            <input asp-for="SupplierName" class="form-control" />
                            <span asp-validation-for="SupplierName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category" class="control-label"></label>
                            <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<ProductCategory>()"></select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<ProductStatus>()"></select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="btn">
                            <button class="InventoryButtons" type="submit">Add to Inventory</button>
                        </div>
                    </form>
                </div>
                <div>
                    <a asp-action="Index">Back</a>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
